* {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
}

.table1 {
    background-color: rgb(0, 68, 255);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(89, 0, 255);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(142, 11, 11, 0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(11, 11, 11);
    color: white;
  }
